/*CSS styling goes here*/

body {
  background-image: url("http://media1.s-nbcnews.com/j/newscms/2016_46/1796241/161114-photo-post-jpo-02_f1212362ba0a3e60b05c9b287700985f.nbcnews-ux-2880-1000.jpg");
  color: white;
  font-family: 'Covered By Your Grace', cursive;
}

.board {
  background-color: rgba(0,0,0,.8);
}

.sticky {
  background: yellow;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 15px;
  color: black;
}

.writingSection {
  height: 120px;
  width: 150px;
  /*position: absolute;*/
  margin-top: 25px;
}

.remove {
  border: 1px gray solid;
  color: grey;
  float: right;
  padding: 1px;
  font-family: TimesNewRoman;
}

.remove:hover {
  border: 1px solid red;
  font-weight: bold;
  color: red;
}


